body{
    margin: 0;
    padding: 0;
}
.section_title{
 position: relative;
font-size: var(--h2-font-size);
color: var(--first-color);
margin-top: var(--mb-2);
margin-bottom: var(--mb-4);
text-align: center;
}
.section_title::after{
    position: absolute;
    content: "";
    background-color: var(--first-color);
    height: 0.18rem;
    width: 250px;
    top: 3.1rem;
    left: 0;
     right: 0;
    margin: auto;
}

.container-1{
    display: flex;
    margin: 20px;
    flex-wrap: wrap;
    /* border: 2px solid red; */
}
.container-1 .box-1{
    position: relative;
    width: 450px;
    margin: 20px;
    box-sizing: border-box;
display: inline-block;
}

.box-1 img{max-width: 100%;
    transition: 1s;
    
}
.box-1 img:hover{
    transform: scale(1.1);
}
.container-1 .box-1 .details{
    position: absolute;
    top:20px;
    left: 30px;
    transform: scale(0) ;
    right: 30px;
    background: rgba(0,0,0,0.8);
    transition: 0.3s;
}
.photo1{
bottom:530px;
}
.photo2{
bottom:530px;
}
.photo3{
bottom:530px;
}
.photo4{
bottom:370px;
}
.photo5{
bottom:370px;
}
.photo6{
bottom:370px;
}
.container-1 .box-1:hover .details{
    transform: scale(1);
}
.container-1 .details .content-1{
text-align: center;

padding: 10px;
}
@media screen and (max-width:768px) {
  
    .section_title{
        align-items: center;
        text-align: center;
        justify-content: center;
        font-size: 1rem;
    }  
    .section_title::after{
        position: absolute;
    content: "";
    background-color: var(--first-color);
    height: 0.18rem;
    width: 150px;
    top: 1.8rem;
    left: 0;
     right: 0;
    margin: auto;
    }

}
@media screen and (max-width:450px) {
    .photo1{
        bottom:355px;
        }
        .photo2{
        bottom:340px;
        }
        .photo3{
        bottom:350px;
        }
        .photo4{
        bottom:155px;
        }
        .photo5{
        bottom:250px;
        }
        .photo6{
        bottom:240px;
        }  
        h2{
            font-size: 1rem;
        } 
}
@media screen and (min-width: 768px){
    body{
      margin: 0;
      padding: 0;
    }
    .section{
      padding-top: 4rem;
      padding-bottom: 3rem;
    }
    .section_title{
      margin-bottom: 3rem;
    }
    .section_title::after{
      width: 250px;
      top: 3rem;
    }
}  