body{
    margin: 0;
    padding: 0;
}
.section_title{
    position: relative;
font-size: var(--h2-font-size);
color: var(--first-color);
margin-top: var(--mb-2);
margin-bottom: var(--mb-4);
text-align: center;
}
.section_title::after{
    position: absolute;
    content: "";
    background-color: var(--first-color);
    height: 0.18rem;
    width: 250px;
    top: 3rem;
    left: 0;
     right: 0;
    margin: auto;
}

.container-1{
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    width: 1020px;
}
.container-1 .box-1{
    position: relative;
    width: 300px;
    margin: 20px;
    box-sizing: border-box;
display: inline-block;
}
.box-1{
    position: relative;

    
}
.box-1 img{max-width: 100%;
    transition: 1s;
    
}
.box-1 img:hover{
    transform: scale(1.1);
}
.container-1 .box-1 .details{
    position: absolute;
    top:20px;
    left: 10px;
    bottom: 320px;
    transform: scale(0) ;
    right: 10px;
    background: rgba(0,0,0,0.8);
    transition: 0.3s;
}
.container-1 .box-1:hover .details{
    transform: scale(1);
}
.container-1 .details .content-1{
text-align: center;

padding: 10px;
}